
.textloop-text{
    font-size: 64px;
   text-align: left;
}
.text-whitesmoke{
    font-size: 28px;
}
.researchBannerimg{
    height: 70vh;
    background: url('../../../images/88.jpg');
    background-color: #aaaeb3;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.researchBanner{
    margin-top: -65px;
}
.researchBannerimg-2{
    height: 70vh;
    background: url('../../../images/56.jpg');
    /* background-color: #5a5b5d;
    background-blend-mode: multiply; */
    background-color: #aaaeb3;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.researchBannerimg-3{
    height: 70vh;
    background: url('../../../images/55.jpg');
    /* background-color: #5a5b5d;
    background-blend-mode: multiply; */
    background-color: #aaaeb3;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}