
.textloop-text{
    font-size: 64px;
   text-align: left;
}
.text-whitesmoke{
    font-size: 28px;
}
.autobannerimg{
    height: 100vh;
    background: url('../../../../images/finalSlide2.png');
    /* background-color: #aaaeb3;
    background-blend-mode: multiply; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
 
}
.autobanner{
    margin-top: -45px;
}
.autobannerimg-1{
    height: 100vh;
    background: url('../../../../images/finalSlide2.png');
    /* background-color: #5a5b5d;
    background-blend-mode: multiply; */
    /* background-color: #aaaeb3;
    background-blend-mode: multiply; */
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: center; */
}
.autobannerimg-2{
    height: 100vh;
    background: url('../../../../images/finalSlide3.png');
    /* background-color: #5a5b5d;
    background-blend-mode: multiply; */
    /* background-color: #aaaeb3;
    background-blend-mode: multiply; */
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: center; */
 
 
}
.autobannerimg-3{
    height: 100vh;
    background: url('../../../../images/finalSlide4.png');
    /* background-color: #5a5b5d;
    background-blend-mode: multiply; */
    /* background-color: #aaaeb3;
    background-blend-mode: multiply; */
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: center; */

}
.autobannerimg-4{
    height: 100vh;
    background: url('../../../../images/finalSlide5.png');
    /* background-color: #5a5b5d;
    background-blend-mode: multiply; */
    /* background-color: #aaaeb3;
    background-blend-mode: multiply; */
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: center; */

}
.autobannerimg-5{
    height: 100vh;
    background: url('../../../../images/finalSlide1.png');
    /* background-color: #5a5b5d;
    background-blend-mode: multiply; */
    /* background-color: #aaaeb3;
    background-blend-mode: multiply; */
    background-repeat: no-repeat;
    background-size: contain;
    /* background-position: center; */
  
}