.donation-section{
  background: url('https://images.unsplash.com/photo-1599059813005-11265ba4b4ce?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80')no-repeat;
  min-height: 50vh;
  display: flex;
  align-items: center;
  padding: 0 50px;
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(29, 28, 28, 0.8);
  background-blend-mode: multiply;
  position: relative;
}

.donate-inside-text{
    display: flex;
    justify-content: center;
    align-items: center;
}




@media (max-width: 1036px){
    .donation-section{
      
    
        margin-top: 350px;
        margin-bottom: 350px;
    
    }
 
  
  }
  
  @media (max-width: 580px){
    .donation-start{
      
      
     
  
  
  }
  
}
  
  