
.social-media-initiatives{
  display: flex;
  justify-content: space-evenly;
}
.initiatives-box{
  border: 1px solid white;
  height: 268px;
  width: 90%;
  padding: 10px 10px 15px;
  background-color: #f7fafe;
  box-shadow: 5px 5px 5px whitesmoke;
  border-radius: 5px;
  margin: auto;

}
.entrepreneurial-text{
  font-size: 52px;
}
.initiative-section{
  height: 958px;
  padding: 100px 0px;
}
.initiatives-text-style{
 margin-top: 0px;
}
.initiatives-img{
 margin: auto;
 
}
.initiative-section{
  margin-top: -50px;
}
.initiatives-div{
 
}
.facebook{
  color: blue;
  font-size: 28px;
}
.fa-pager{
  color: pink;
  font-size: 52;
}
.website{
  color: #1EB3AE;
  font-size: 28px;
}
.youtube{
  color: brown;
  font-size: 28px;
}
.instagram{
  color: rgb(206, 34, 69);
  font-size: 28px;
}
.twitter{
  color: rgb(38, 133, 170);
  font-size: 28px;
}