.Initiatives-slider{
    font-family: 'Cambria';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -50px;
}
.slider-box{
    display: flex;
    justify-content: center;
    align-items: center;
      height: 400px;
    /* width: 90%; */
   
    color: #fff;
    margin: 0 15px;
    font-size: 4em;
}
.Initiatives-div{
  /* background-color: #ede7f6; */
  margin-top: 0px;
  height: 950px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.Initiatives-head{
  color: #354252;
  text-align: left;
  
}
.text-style{

}
.Initiatives-slider{
    font-family: 'Cambria';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -50px;
}
.slider-box{
    display: flex;
    justify-content: center;
    align-items: center;
      height: 400px;
    width: 100%;
   
    color: #fff;
    margin: 0 15px;
    font-size: 4em;
}
.Initiatives-div{
  background-color: #F6FBFF;
  margin-top: 0px;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.Initiatives-head{
  color: #354252;
  text-align: left;
  
}
.text-style{

}
.Initiatives-slider{
    font-family: 'Cambria';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -50px;
}
.slider-box{
    display: flex;
    justify-content: center;
    align-items: center;
      height: 400px;
    width: 90%;
   
    color: #fff;
    margin: 0 15px;
    font-size: 4em;
}
.Initiatives-div{
  background-color: #F6FBFF;
  margin-top: 0px;
  height: 950px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.Initiatives-head{
  color: #354252;
  text-align: left;
  
}
.text-style{

}
/* .card-initiatives{
    background-color: #05152e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 900;
} */

.slider-inside{
   box-shadow: 10px 10px 10px gray;
   width: 290px;


   
}
.slider-text{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(88, 3, 3);
    height: 60px;
}
.slider-inside:hover{
transform: scale(1.05);



}
.slider-box:hover{
 
}