.mission{
display: flex;
justify-content: center;
text-align: center;

border-bottom: 5px solid brown;
margin-top: 150px;
padding: 15px;
padding-right: 5px;
margin-right: 10px;

}
.ourMission{
    height: 750px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.style-mission{
    padding: 15px;
    margin: 10px;
}
.box-width{
    width: 40%;
    display: inline-block;
    vertical-align: middle;
}
.missiontab{
    display: flex;
    justify-content: center;
    border-bottom:3px solid rgba(165, 42, 42, 0.822);
    padding-right: 15px;
    margin-right: 15px;

    
}
.mission-tab{

}
.missiontab:hover{
}
.writing-style{
   margin-top: 100px;
    margin-bottom: 65px;
}
.ourmission-div{
    margin-bottom: 75px;
}
.mission-background{
   background: #ffffff;
}


