.joinSector{
  height: 100%;
}

.sector{
  display: none;
}
.joinus2-text{
    display: none;
}

@media (max-width: 1036px){
  .sector{
    
    display: block;
    margin-top: -100px;

  
  }
  .joinus2-text{
    display: block;
  }
  .joinUs2{
    margin-top: -550px;
  }
.join-section-top{
  margin-bottom: 350px;
}

}

@media (max-width: 580px){
  .sector{
    
    display: block;
    margin-top: -100px;
   
  } 
  .joinUs2{
    margin-top: -550px;
    margin-bottom: 570px;
  }


}





@media (max-width: 1036px){
    .joinUs2{
      
     margin-top: -100px;
      margin-bottom: -350px;
    
    }
 
  
  }
  
  

  