/* .involved-design{
    box-shadow:10px 10px 10px skyblue;
} */
/* 
.design-color:hover{
    transform:scale(1.03);
    background-color: skyblue !important;
    color:  white !important;
    margin-bottom: 2px;
} */









/* .submit-button{
    display: flex;
    margin-left: 25px;
} */

/* .join-text{
    color: #354252;
} */