.involved-design{
    box-shadow:10px 10px 10px brown;
}

.design-color:hover{
    transform:scale(1.03);
    background-color: brown !important;
    color:  white !important;
    margin-bottom: 2px;
}
.form-styling{
      
      border: 1px solid blanchedalmond;
      /* box-shadow: 5px 5px 5px  black; */
      width: 100%;
      margin: auto;
}
.submit-button{
    display: flex;
    margin-left: 25px;
}