.topSection-box{
    border: 1px solid white;
    padding: 0 50px 54px;
    box-sizing: inherit;
    width: 350px;
    height: 284px;
    background-color: white;
    border-radius: 5px;
   
}
.icon-color{
    background-color: brown;
    color: white;
    margin-top: -45px;
    width: 50%;
    height: 80px;
    width: 80px;
    background-color: rgb(16, 16, 83);
    border-radius: 50%;
    text-align: center;
  
}
.topSection-text{
    margin-top: 45px;
   
}
.fa-paper-plane{

 margin-top: 30px;
 font-size: 24px;
}
.TopSection{
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */


  
    
}
.fa-heart{
  margin-top: 30px;
 font-size: 24px;
}
.fa-boxes{
    margin-top: 30px;
 font-size: 24px;
}
.top-up{
    background-color: #f0f3f8;
    width: 100%;
    height: 523px;
    padding: 122px 189.4px 82px 189.6px;
    position: relative;
    margin-top: -35px;
  
}


@media (max-width: 1036px){

    .topSection-box{
  
        padding: 0 50px 54px;
        box-sizing: inherit;
        width: 250px;
        height: 250px;
        background-color: white;
        border-radius: 5px;
        margin-bottom: 55px;
         margin-left: -45px;
    
    }
    .TopSection{
 
   
      
        
    }
    .top-up{
        background-color: #f0f3f8;
        width: 100%;
        height: 100%;
        padding: 100px;
        margin:auto;
        position: relative;
        margin-top: -70px;
       
    }
  }
  
  @media (max-width: 580px){

  
  }
  @media (max-width: 375px){

  
  }
  
  
  