.session2{
    height: 100%;
    width: 100%;
    border-radius: 50px 50px 50px 50px;
}

.image-customize{
    border-radius: 50px 50px 50px 50px;
    background-size: contain;
    background-position-x: center;
    padding: 20px;
}