.change-color{

  background-color: white; 
  position: sticky;
 top:0; 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.493); 
 
}

.style-nav{
 color:#b71c1c;
 font-weight: 900; 

 transition: 5s;


}

.style-nav:hover{
 border-bottom-width:0mm;
 border-bottom: 1px solid #b71c1c;
 color: #d50000;

 
}

.uddok-o-uddokta{

margin-top: 25px;


}


/* .Uddog-O-Uddogta{
  background-color:white;
  font-weight: 900;
  padding: 10px;


} */

.hover-underline-animation {
 display: inline-block;
 position: relative;
 color: #b71c1c;
}

.hover-underline-animation:after {
 content: '';
 position: absolute;
 width: 100%;
 transform: scaleX(0);
 height: 1px;
 bottom: 0;
 left: 0;
 background-color: #b71c1c83;
 transform-origin: bottom right;
 transition: transform 0.60s ease-out;
}

.hover-underline-animation:hover:after {
 transform: scaleX(1);
 transform-origin: bottom left;
}