.footer-style{
    padding: 40px;
    background-color: white;
    height: 700px;
    margin-top: 400px;
   
   
}
.footer-styling{
    border-right: 1px solid brown;
}
.footer-bottom{
    color: white;
    font-weight: bold;
    font-style: italic;
}
.tag-link{
    text-decoration: none;
    color: white;
}