.footer-style{
    padding: 40px;
    background-color: #FFF8DC;
    /* background-color: #9b9898; */
    height: 700px;
    margin-top: 100px;
    border-top: 1px solid #e0e0e0;
   
   
}
.footer-styling{
    border-right: 1px solid brown;
}
.footer-bottom{
    color: white;
    font-weight: bold;
    font-style: italic;
}
.tag-link{
    text-decoration: none;
    color: white;
}
.text-color-change{
    color: #0e315f;
    
}
.facebook{
    color:#354252;
}
.link-color-change{
  
  color: #0e315f;
   
}
.hover-color:hover{
   transform: scale(1.05);
   color: navy;
}