.causes-slider{
    font-family: 'Cambria';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -50px;
}
.slider-box{
    display: flex;
    justify-content: center;
    align-items: center;
      height: 400px;
    width: 100%;
   
    color: #fff;
    margin: 0 15px;
    font-size: 4em;
}
.causes-div{
  background-color: #F6FBFF;

}
.causes-head{
  color: #354252;
  text-align: left;
  
}
.text-style{

}
