.causes-slider{
    font-family: 'Cambria';
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin-top: -50px;
}
.slider-box{
    display: flex;
    justify-content: center;
    align-items: center;
      height: 400px;
    width: 100%;
   
    color: #fff;
    margin: 0 15px;
    font-size: 4em;
}
.causes-div{
  background-color: #F6FBFF;
  margin-top: -150px;
  /* height: 950px; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  padding: 100px 0px 100px 0px;

}
.causes-style{
  padding: 100px 0px 100px 0px;
}
.causes-head{
  color: #354252;
  text-align: left;
  
}
.text-style{
 margin-top: -130px;
}



@media (max-width: 1036px){
  .causes-slider{
    
  
      margin-top:80px;
  
      
  
  }
  .causes-div{
    margin-bottom: 150px;
  }


}

@media (max-width: 580px){
  

}


