.single-blog{
    text-align:left;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 10px 10px 0px blanchedalmond;
    padding: 15px;
    margin: 20px;
 
    
}
.img-blog{
    text-align: left;
 
}