.top{
    margin-top: 2px;
    height: 145px;
   
}
.change-part{
   margin-top: -55px;
}

.number{
    text-align: center;
    margin-top: 0px;
}

.fa-envelope{
  color: rgb(46, 182, 228);
  font-size: 16px;
  margin: 5px;
}

.call-us{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    align-items: center;
}
.call-text{
    display: block;

 
    text-align: left;
    margin-top: 10px;

}
.mail-text{
    display: block;
    text-align: left;
    margin-top: 10px;
     float: right;
     margin-top: 10px;

}
.mail-to{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    
}
.end-part{
    margin-left: 90px;
}
.change-part{
    margin-top: 5px;
   
    text-align: right;
   
  
}
.english{
   color: gray;
  
}
.email{

  margin-left: 5px;
  margin-top: -15px;
}
.donate{
    border-radius: 4px;
    background-color: #0D6EFD;
    border: none;
    color: white;
    font-weight: 900;
    text-align: center;
    font-size: 16px;
    padding: 15px; 
     width: 150px; 
    transition: all 0.5s;
    cursor: pointer;
    margin-right: 105px;
    margin-top: 5px;
}


.donate span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .donate:hover span {
    padding-right: 10px;
  }
  


  .donate:hover span:after {
    opacity: 1;
    right: 0;
  }



.main-name-english{
    color: #495057;
    font-weight: bolder;
 
}
 



.top-uddokta{
  margin-bottom: 10px;
}




@media (max-width: 1036px){
    .top-uddokta{
      
      display: none;
  
    }

  }
  
  @media (max-width: 580px){
    .top-uddokta{
     
       display: none;
   
    }

  }
  
  
  