.top{
    margin-top: 5px;
    height: 125px
}
.number{
    text-align: center;
    margin-top: 0px;
}
/* .call{
    display: flex;
    justify-content: center;
    border: 1px solid black;
   
   
}
.call-img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    border: 1px solid black;
} */

.call-us{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
}
.call-text{
    display: block;

 
    text-align: left;
    margin-top: 10px;

}
.mail-text{
    display: block;
    text-align: left;
    margin-top: 10px;
     float: right;
     margin-top: 10px;

}
.mail-to{
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;
    
}
.end-part{
    margin-left: 90px;
}
.change-part{
    margin-top: 25px;
   
    text-align: right;
   
  
}
.english{
   color: gray;
  
}
.donate{
    border-radius: 4px;
    background-color: brown;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    padding: 15px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 15px;
    margin-right: 15px;
}

.donate span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .donate:hover span {
    padding-right: 20px;
  }
  
  .donate:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* .icon-class{
    color: brown;
    font-size: 36px;
    padding: 5px;
    margin-right: 5px;
    
  } */

  /* @media (max-width: 600px){
    .top-uddokta{
       display: grid;
       grid-template-columns: repeat(1, 1fr);
    }
  
} */

@media only screen and (min-width: 768px) {
    .top-uddokta{
        display: block;
    }
}