.involved-style{
    margin-bottom: 550px;
    padding: 100px 0px 100px 0px;
}
.involved-design{
    box-shadow:10px 10px 10px skyblue;
}

.design-color:hover{
    transform:scale(1.03);
    background-color: skyblue !important;
    color:  white !important;
    margin-bottom: 2px;
}
.form-styling{
      
      border: 1px solid blanchedalmond;
      /* box-shadow: 5px 5px 5px  black; */
      width: 100%;
      margin: auto;
}
.submit-button{
    display: flex;
    margin-left: 25px;
}
.join-text{
    color: #354252;
}
.involved-join{
    margin-top: 180px;
    height: 450px;
}
