.LatestNews{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 650px; */
  margin-top: -200px;
    padding-top: 40px;
    
}

.LatestNews-style{
   margin-bottom: 0px;
   /* background-color: #F6FBFF; */
}

.text-style{
   
    margin-top: 10px;
    padding-top: 10px;
    height: 150px;
    display: block;

}
.h-text{
    font-size: 48px;
    color: #354252;
}
.p-text{
    color: brown;
}
.text-para{
    text-align: center;
}
.LatestNews-div{
    margin-top: 200px;
    /* background-color: #F6FBFF; */
    border: 1px solid white;
    /* height: 950px; */
    padding: 100px 0px 100px 0px;
  
}



@media (max-width: 1036px){
    .donation-section{
      
    
        margin-top: -200px;
        margin-bottom: 350px;
    
    }
   
  
  }
  
  @media (max-width: 580px){
    .lates-news-h1{
   
      padding-bottom: 20px;
    }
      .LatestNews{
          /* margin-top: -50px; */
         
      }

      .LatestNews-div{
          margin-bottom: 550px;
          margin-top: 320px;
      }
     .h-text{
         font-size: 32px;
     }
  
  
  }
  