
.textloop-text{
    font-size: 64px;
   text-align: left;
}
.text-whitesmoke{
    font-size: 28px;
}
.newsBanner3img{
    height: 70vh;
    background: url('https://www.observerbd.com/2021/10/22/observerbd.com_1634911881.jpg');
    /* background-color: #aaaeb3;
    background-blend-mode: multiply; */
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.newsBanner3{
    margin-top: -65px;
}
.newsBanner3img-2{
    height: 70vh;
    background: url('../../../images/consultation.png');
    /* background-color: #5a5b5d;
    background-blend-mode: multiply; */
    background-color: #aaaeb3;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.newsBanner3img-3{
    height: 70vh;
    background: url('../../../images/global_strategic_research_center.jpg');
    /* background-color: #5a5b5d;
    background-blend-mode: multiply; */
    background-color: #aaaeb3;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}